div{

	width: 50vw;

	height:50vh;

	position: relative;

	top: 40vh;

	

}



.box{

	background-color: black;

	color: white;

	width: 100vw;

	height: 20vh;

	text-align: center;

	border-radius: 10%;

	

}

#btn{

	width: 30vw;

	height:5vh;

	border:2px solid black;

	border-radius: 13%;

	font-size: 15px;

	font-family: sans-serif;

	position: relative;

	left:33vw;

	bottom: 13vh;

	z-index: 199;
   

}
